/.idea/.gitignore
/Documentos/Design de Projeto/Diagrama de Classes/DiagramaClasses.asta.lock
/Documentos/Design de Projeto/Diagrama de Classes/DiagramaClassesSprint1.png.bak
/.idea/Equipe5.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
